name: GitHub Actions Demo
on: [push]
jobs:
  Explore-GitHub-Actions:
    runs-on: ubuntu-latest
    steps: 
    - name: testit
      run: |
        echo "testit"
        PTD=1249435
        echo ${PTD}